{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [zoom]="14" [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" [label]="label" [title]="title">
  </map-marker>

  <map-circle [center]="position"
              [radius]="50"
              [options] = 'circleOptions'>
  </map-circle>

  <map-circle [center]="secondo_cerchio_pos"
              [radius]="50"
              [options] = 'secondoCerchioOptions'>
  </map-circle>

  <map-marker [position]="position" 
  [label]="gatto_label" 
  [title]="title"
  [options] = "markerOptions">
</map-marker>

<map-marker *ngFor="let e of imgs"
[title]="title"
[options] = "e">
</map-marker>

<map-polygon [paths]="vertices">
</map-polygon>

<map-polygon [paths]="rectangle"
[options]="rectangleOptions">
</map-polygon>

<button
*ngFor="let colore of colori"
(click)="cambiaColore(colore)">{{colore}}</button>

<br />
<br />

<button
*ngFor="let colore of colori"
(click)="cambiaColoreRettangolo(colore)">{{colore}} del rettangolo</button>

</google-map>